.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(0, 50, 73, 1);
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Helvetica;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;

}

.App-link {
  color: #61dafb;
}


.Calendar {
  height: 1000px;
  display: grid;
  grid-template-rows: 0.5fr 6fr;
  grid-template-columns: 10% 1fr 5%;
  padding-bottom: 1rem;
  box-shadow: 12px, 12px, 5px, 5px, gray;
}

.Calendar .times {
  grid-column: 1/2;
  grid-row: 2/3;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 1fr);
  justify-content: center;
  border-radius: 1px;
}

.Calendar .times time {
  align-items: flex-start;
  grid-column: 0/1;
}

hr {
  border: none;
  border-top: 1px dotted #f00;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 50%;
}

.Calendar .header {
  grid-column: 2/3;

  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}

.header .day {
  justify-content: center;
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: grey;
}

.header .day h1 {
  border-radius: 10px;
  padding: 0.1in;
  font: 2rem Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}


.Calendar .days {
  grid-column: 2/3;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  justify-content: center;
}

.days .day {
  display:grid;
  grid-template-rows: repeat(24, 1fr) ;
  grid-template-columns: 1fr;
  justify-content: center;
  border-radius: 10px;

}


.day monday {
  height: 88%;
  width: 96%;
  grid-row: 0/1;
  grid-column: 0/1;
  border-radius: 10px;
  background-color: rgb(204, 219, 220, 1);
  border: solid;
  border-color: rgb(0, 50, 73, 1);
  border-left-width: 6px;
  border-left-color: rgb(0, 50, 73, 1);

}

.day tuesday {
  height: 88%;
  width: 96%;
  grid-row: 3/4;
  grid-column: 0/1;
  border-radius: 10px;
  background-color: rgb(154, 209, 212, 1);
  border: solid;
  border-color: rgb(0, 50, 73, 1);
  border-left-width: 6px;
  border-left-color: rgb(0, 50, 73, 1);
}

.day wednesday {
  height: 88%;
  width: 96%;
  grid-row: 3/4;
  grid-column: 0/1;
  border-radius: 10px;
  background-color: rgb(128, 206, 215, 1);
  border: solid;
  border-color: rgb(0, 50, 73, 1);
  border-left-width: 6px;
  border-left-color: rgb(0, 50, 73, 1);
}

.day thursday {
  height: 88%;
  width: 96%;
  grid-row: 3/4;
  grid-column: 0/1;
  border-radius: 10px;
  background-color: rgb(0, 126, 167, 1);
  border: solid;
  border-color: rgb(0, 50, 73, 1);
  border-left-width: 6px;
  border-left-color: rgb(0, 50, 73, 1);
}

.day friday {
  height: 88%;
  width: 96%;
  grid-row: 3/4;
  grid-column: 0/1;
  border-radius: 10px;
  background-color: rgb(36, 98, 127);
  border: solid;
  border-color: rgb(0, 50, 73, 1);
  border-left-width: 6px;
  border-left-color: rgb(0, 50, 73, 1);
}


.formPackage {
  height: 30rem;
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: rgb(36, 98, 127, 0.5);
}

.Form {
  padding: 10px;

}

.center {
  border: 5px solid black;
  padding: 10px;

}

.form-group {
  padding: 0px;
}

.form-group p{
  color: rgb(0, 50, 73, 1);
  font-size: 1.5rem;
}

.data-get {
  grid-column: 2/3;
  width: 98%;
  padding: 10px;
  color: rgb(0, 126, 167);
  font-weight: bold;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 126, 167, 0.75);
  font-weight: normal;
  opacity: 1;
  font-style: italic;

}

.submit-button {
  background-color: rgb(0, 126, 167);
  border: none;
  color: white;
  padding: 7px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.cal-item {
  background-color: blue;
  border-radius: 5px;
  width: 10%;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
